# Node
node_modules/
frontend/node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Build outputs
dist/
build/
.out/
.next/
coverage/

# Java / Maven
target/
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

backend/venv/

backend.zip
frontend.zip
gateway.zip

